{%include 'includes/pages/header.html'%}


{%block content%}
<!-- Facebook Share -->
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
    Share on Facebook
</a>

<!-- Twitter Share -->
<a href="https://twitter.com/share?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank">
    Share on Twitter
</a>

<!-- LinkedIn Share -->
<a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}&title={{ post.title }}" target="_blank">
    Share on LinkedIn
</a>

<p>
second 
<!-- LinkedIn Share -->
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={{ post.title }}&summary={{ post.content|slice:":150" }}" target="_blank">
    Share on LinkedIn
</a>

</p>
third
<!-- LinkedIn Share -->
<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ share_url }}" target="_blank">
    Share on LinkedIn
</a>

{%endblock content%}